# VerificationResult

## Enum


* `PENDING` (value: `"PENDING"`)

* `PROVISIONAL` (value: `"PROVISIONAL"`)

* `ACCEPTED` (value: `"ACCEPTED"`)

* `REVIEW` (value: `"REVIEW"`)

* `VENDOR_ERROR` (value: `"VENDOR_ERROR"`)

* `REJECTED` (value: `"REJECTED"`)


[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)


