openapi: 3.0.3
info:
  description: |
    <h2>Let's build something great.</h2><p>Welcome to the official reference documentation for Synctera APIs. Our APIs are the best way to automate your company's banking needs and are designed to be easy to understand and implement.</p><p>We're continuously growing this library and what you see here is just the start, but if you need something specific or have a question, <a class='text-blue-600' href='https://synctera.com/contact' target='_blank' rel='noreferrer'>contact us</a>.</p>
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: Synctera API
  version: 0.5.0
servers:
- description: Production
  url: https://api.synctera.com/v0
- description: Sandbox (no real world financial impact)
  url: https://api-sandbox.synctera.com/v0
security:
- bearerAuth: []
tags:
- description: Request to create and manage accounts
  name: Accounts
- description: Requests to issue and manage cards
  name: Cards
- description: Requests to create and manage customers
  name: Customers
- description: |
    The disclosures resource is used to track the status of disclosures and
    ensure that all parties have been shown the necessary disclosures to meet
    regulatory obligations.
  name: Disclosures
- description: |
    The External Account resource is used for managing links to accounts
    that operate outside of the Synctera ecosystem.
  name: External Accounts
- description: Requests to initiate customer verification.
  name: KYC Verification
- description: Requests to create and manage reconciliation
  name: Reconciliations
- description: Request to enroll, renew, or cancel watchlist monitors
  name: Watchlist
- description: Requests to create and manage webhooks
  name: Webhooks
paths:
  /accounts:
    get:
      description: Get paginated list of Accounts associated
      operationId: listAccounts
      parameters:
      - description: |
          Account ID(s). Multiple IDs can be provided as a comma-separated list.
        explode: false
        in: query
        name: id
        required: false
        schema:
          example: 64438afd-fa20-4010-a573-2bbdca77cdb6,84ef251c-ab8f-47a5-bbfd-a16648f95157
          items:
            format: uuid
            type: string
          type: array
        style: form
        x-external: true
      - description: |
          Account number(s). Multiple account numbers can be provided as a comma-separated list.
          When only a single account number is provided, any * characters in the string are wildcards, and match any characters.
        explode: false
        in: query
        name: account_number
        required: false
        schema:
          example: "2345678108180014864"
          items:
            type: string
          type: array
        style: form
        x-external: true
      - explode: true
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/status'
        style: form
        x-external: true
      - description: Interest product ID that accounts associate with. Multiple IDs
          can be provided as a comma-separated list.
        explode: true
        in: query
        name: interest_product_id
        required: false
        schema:
          type: string
        style: form
        x-external: true
      - description: The customer's unique identifier
        explode: true
        in: query
        name: customer_id
        required: false
        schema:
          $ref: '#/components/schemas/customer_id'
        style: form
        x-external: true
      - explode: true
        in: query
        name: first_name
        required: false
        schema:
          description: Only return resources where the first_name field matches the
            specified string. Any * characters in the string are wildcards, and match
            any characters.
          example: Alice
          type: string
        style: form
        x-external: true
      - explode: true
        in: query
        name: last_name
        required: false
        schema:
          description: Only return resources where the last_name field matches the
            specified string. Any * characters in the string are wildcards, and match
            any characters.
          example: Smith
          type: string
        style: form
        x-external: true
      - explode: true
        in: query
        name: tenant
        required: false
        schema:
          description: Only return resources owned by the specified tenant
          example: 2_3
          pattern: ^(\d{1,}|\*)_(\d{1,}|\*)$
          type: string
        style: form
        x-external: false
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          minimum: 1
          type: integer
        style: form
        x-external: true
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: Optional pagination token to be provided to retrieve subsequent
            pages, returned from previous get
          example: faker.random.alphaNumeric(10)
          type: string
        style: form
        x-external: true
      - description: |
          Specifies the sort order for the returned accounts.
        explode: false
        in: query
        name: sort_by
        required: false
        schema:
          items:
            enum:
            - account_number:asc
            - account_number:desc
            - account_type:asc
            - account_type:desc
            - first_name:asc
            - first_name:desc
            - last_name:asc
            - last_name:desc
            type: string
          type: array
        style: form
        x-external: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_list'
          description: List of accounts
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: List accounts
      tags:
      - Accounts
      x-external: true
    post:
      description: |
        Create a shadow mode or lead mode account. You need to determine the mode according to integrator configuration, and specify the required fields accordingly.

        Shadow mode required fields:
          - account_number
          - status

        Lead mode required fields:
          - account_template_id
          - relationships
      operationId: createAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/account_creation'
        description: Account to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account'
          description: Created account
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
      summary: Create an account
      tags:
      - Accounts
      x-external: true
    summary: Accounts
  /accounts/{account_id}:
    delete:
      description: Delete account
      operationId: deleteAccount
      parameters:
      - description: Unique identifier for the account.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete_response'
          description: Resource has been deleted
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "461":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Account has been closed
      summary: Delete account
      tags:
      - Accounts
      x-external: true
    get:
      description: Get an account
      operationId: getAccount
      parameters:
      - description: Unique identifier for the account.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account'
          description: Account
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "461":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Account has been closed
      summary: Get account
      tags:
      - Accounts
      x-external: true
    patch:
      description: |
        Patch account.

        Immutable fields:
          - account_number
          - account_type
          - account_template_id

        Please note:
          - Other fields cannot be modified when access_status is FROZEN.
          - access_status has to be patched individually without other fields.
      operationId: patchAccount
      parameters:
      - description: Unique identifier for the account.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/account'
        description: Account fields to be patched
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account'
          description: Updated account
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "461":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Account has been closed
      summary: Patch account
      tags:
      - Accounts
      x-external: true
    put:
      description: |
        Update account

        Shadow mode required fields:
          - account_number
          - status

        Lead mode required fields:
          - All fields are required.

        Please note:
          - access_status needs to be in ACTIVE.
          - PUT request cannot change access_status.
      operationId: updateAccount
      parameters:
      - description: Unique identifier for the account.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/account'
        description: Account to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account'
          description: Updated account
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "461":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Account has been closed
      summary: Update account
      tags:
      - Accounts
      x-external: true
    summary: account
  /accounts/{account_id}/relationships:
    get:
      description: List all customers of an account
      operationId: listAccountRelationship
      parameters:
      - description: Unique identifier for the account.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          minimum: 1
          type: integer
        style: form
        x-external: true
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: Optional pagination token to be provided to retrieve subsequent
            pages, returned from previous get
          example: faker.random.alphaNumeric(10)
          type: string
        style: form
        x-external: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/relationship_list'
          description: List of account relationships
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "461":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Account has been closed
      summary: List account relationships
      tags:
      - Accounts
      x-external: true
    post:
      description: Add a customer to an account
      operationId: createAccountRelationship
      parameters:
      - description: Unique identifier for the account.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/relationship'
        description: Account relationship object
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/relationship'
          description: Account relationship object
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "461":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Account has been closed
      summary: Create account relationship
      tags:
      - Accounts
      x-external: true
    summary: Account Relationship
  /accounts/{account_id}/relationships/{relationship_id}:
    delete:
      description: Delete account relationship
      operationId: DeleteAccountRelationship
      parameters:
      - description: Unique identifier for the account.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Relationship ID of the account associate with the account entity
        explode: false
        in: path
        name: relationship_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete_response'
          description: Resource has been deleted
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "461":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Account has been closed
      summary: Delete account relationship
      tags:
      - Accounts
      x-external: true
    get:
      description: Get account relationship by ID
      operationId: getAccountRelationship
      parameters:
      - description: Unique identifier for the account.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Relationship ID of the account associate with the account entity
        explode: false
        in: path
        name: relationship_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/relationship'
          description: Account relationship
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "461":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Account has been closed
      summary: Get account relationship
      tags:
      - Accounts
      x-external: true
    put:
      description: Update account relationship. Only relationship_type can be updated.
        customer_id should not be modified.
      operationId: updateAccountRelationship
      parameters:
      - description: Unique identifier for the account.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Relationship ID of the account associate with the account entity
        explode: false
        in: path
        name: relationship_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/relationship'
        description: Account relationship to be updated
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/relationship'
          description: Updated account relationship
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "461":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Account has been closed
      summary: Update account relationship
      tags:
      - Accounts
      x-external: true
    summary: Account Relationship
  /accounts/{account_id}/aliases:
    post:
      description: Add an alias to an account
      operationId: createAccountAliases
      parameters:
      - description: Unique identifier for the account.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/alias'
        description: Account alias to create
        required: true
      responses:
        "201":
          description: Account alias object has been created.
      summary: Create account aliases
      tags:
      - Accounts
      x-external: false
    summary: Account Aliases
  /accounts/aliases:
    get:
      description: Get a list of account aliases (no pagination)
      operationId: listAccountAliases
      parameters:
      - explode: true
        in: query
        name: alias_type
        required: false
        schema:
          type: string
        style: form
        x-external: false
      - explode: false
        in: query
        name: alias_source
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-external: false
      - explode: true
        in: query
        name: alias_name
        required: false
        schema:
          type: string
        style: form
        x-external: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alias_list'
          description: List of account aliases
      summary: List account aliases
      tags:
      - Accounts
      x-external: false
    summary: Account Aliases
  /accounts/templates:
    get:
      description: |
        List account templates
      operationId: listAccountTemplates
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          minimum: 1
          type: integer
        style: form
        x-external: true
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: Optional pagination token to be provided to retrieve subsequent
            pages, returned from previous get
          example: faker.random.alphaNumeric(10)
          type: string
        style: form
        x-external: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/template_list'
          description: List of account templates
      summary: List account templates
      tags:
      - Accounts
      x-external: true
    post:
      description: |
        Create an account template. An account template is need when create an account in a lead mode
      operationId: createAccountTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/account_template'
        description: Account template to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_template'
          description: Account template created
      summary: Create an account template
      tags:
      - Accounts
      x-external: true
    summary: Accounts
  /accounts/templates/{template_id}:
    delete:
      description: Delete account template
      operationId: DeleteAccountTemplate
      parameters:
      - description: Account Template ID
        explode: false
        in: path
        name: template_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete_response'
          description: Resource has been deleted
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
      summary: Delete account template
      tags:
      - Accounts
      x-external: true
    get:
      description: Get an account template
      operationId: getAccountTemplate
      parameters:
      - description: Account Template ID
        explode: false
        in: path
        name: template_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_template'
          description: Account Template
      summary: Get account template
      tags:
      - Accounts
      x-external: true
    put:
      description: |
        Update account template
      operationId: updateAccountTemplate
      parameters:
      - description: Account Template ID
        explode: false
        in: path
        name: template_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/account_template'
        description: Account template to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_template'
          description: Account template updated
      summary: Update account template
      tags:
      - Accounts
      x-external: true
    summary: account
  /accounts/products:
    get:
      description: |
        List account Products
      operationId: listAccountResourceProducts
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          minimum: 1
          type: integer
        style: form
        x-external: true
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: Optional pagination token to be provided to retrieve subsequent
            pages, returned from previous get
          example: faker.random.alphaNumeric(10)
          type: string
        style: form
        x-external: true
      - description: Date range filtering for type INTEREST. All rates in interest
          resource have to have valid_from later or equal to start_date.
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          format: date
          type: string
        style: form
        x-external: true
      - description: Date range filtering for type INTEREST. All rates in interest
          resource have to have valid_to earlier or equal to end_date.
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          format: date
          type: string
        style: form
        x-external: true
      - description: ID of account product. Multiple IDs can be provided as a comma-separated
          list.
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: Type of account product
        explode: true
        in: query
        name: product_type
        required: true
        schema:
          enum:
          - FEE
          - INTEREST
          type: string
        style: form
        x-external: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_product_list'
          description: List of account products
      summary: List account products
      tags:
      - Accounts
      x-external: true
    post:
      description: |
        Create an account product. Rates cannot be nil or empty.
      operationId: createAccountResourceProduct
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/account_product'
        description: Account product to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_product'
          description: Account product created
      summary: Create an account product
      tags:
      - Accounts
      x-external: true
    summary: Account products
  /accounts/products/{product_id}:
    patch:
      description: |
        Patch account product. Rates requires at minimum 1 entry if specified.
      operationId: patchAccountProduct
      parameters:
      - description: Account Product ID
        explode: false
        in: path
        name: product_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patch_account_product'
        description: Account product fields to be patched
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_product'
          description: Updated account product
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
      summary: Patch account product
      tags:
      - Accounts
      x-external: true
    summary: Account products
  /cards:
    description: |
      The Card object represents your customer's spending card.
    get:
      description: |
        List of cards matching query parameters
      operationId: listCards
      parameters:
      - explode: true
        in: query
        name: tenant
        required: false
        schema:
          $ref: '#/components/schemas/tenant'
        style: form
        x-external: true
      - explode: true
        in: query
        name: customer_id
        required: false
        schema:
          $ref: '#/components/schemas/customer_id1'
        style: form
        x-external: true
      - explode: true
        in: query
        name: account_id
        required: false
        schema:
          $ref: '#/components/schemas/account_id'
        style: form
        x-external: true
      - description: emboss name
        explode: true
        in: query
        name: emboss_name
        required: false
        schema:
          type: string
        style: form
        x-external: true
      - description: The last 4 digits of the card PAN
        explode: true
        in: query
        name: last_four
        required: false
        schema:
          example: "1234"
          pattern: ^\d{4}$
          type: string
        style: form
        x-external: true
      - description: The date representing when the card would expire at
        explode: true
        in: query
        name: expiration_date
        required: false
        schema:
          format: date
          type: string
        style: form
        x-external: true
      - description: Indicates the type of card
        explode: true
        in: query
        name: card_type
        required: false
        schema:
          enum:
          - DEBIT
          type: string
        style: form
        x-external: true
      - description: The brand of a card product
        explode: true
        in: query
        name: card_brand
        required: false
        schema:
          $ref: '#/components/schemas/card_brand'
        style: form
        x-external: true
      - description: The format of the card
        explode: true
        in: query
        name: form
        required: false
        schema:
          $ref: '#/components/schemas/form'
        style: form
        x-external: true
      - explode: true
        in: query
        name: card_product_id
        required: false
        schema:
          $ref: '#/components/schemas/card_product_id'
        style: form
        x-external: true
      - description: The status of a card
        explode: true
        in: query
        name: card_status
        required: false
        schema:
          $ref: '#/components/schemas/card_status'
        style: form
        x-external: true
      - description: The postal code of a card user
        explode: true
        in: query
        name: postal_code
        required: false
        schema:
          example: "49633"
          type: string
        style: form
        x-external: true
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          minimum: 1
          type: integer
        style: form
        x-external: true
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: Optional pagination token to be provided to retrieve subsequent
            pages, returned from previous get
          example: faker.random.alphaNumeric(10)
          type: string
        style: form
        x-external: true
      - description: |
          Specifies the sort order for the returned cards.
        explode: false
        in: query
        name: sort_by
        required: false
        schema:
          items:
            enum:
            - account_id:asc
            - account_id:desc
            - customer_id:asc
            - customer_id:desc
            - card_product_id:asc
            - card_product_id:desc
            - last_four:asc
            - last_four:desc
            - card_type:asc
            - card_type:desc
            - card_brand:asc
            - card_brand:desc
            - expiration_date:asc
            - expiration_date:desc
            - form:asc
            - form:desc
            - card_status:asc
            - card_status:desc
            type: string
          type: array
        style: form
        x-external: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_list_response'
          description: Cards
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: List Cards
      tags:
      - Cards
      x-external: true
    post:
      description: |
        Issue or reissue a new card for a customer
      operationId: issueCard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/card_issuance_request'
        description: Card to issue
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_response'
          description: Card issued
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Issue a Card
      tags:
      - Cards
      x-external: true
    summary: Cards
  /cards/{card_id}:
    description: |
      The Card object represents your customer's spending card.
    get:
      description: |
        Get the details about a card that has been issued
      operationId: getCard
      parameters:
      - explode: false
        in: path
        name: card_id
        required: true
        schema:
          $ref: '#/components/schemas/card_id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_response'
          description: Card details
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Get Card
      tags:
      - Cards
      x-external: true
    patch:
      description: |
        Integrators can update the card resource to change status, update shipping (if the card hasn't been shipped) or edit metadata.
      operationId: updateCard
      parameters:
      - explode: false
        in: path
        name: card_id
        required: true
        schema:
          $ref: '#/components/schemas/card_id'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/card_edit_request'
        description: Card edits
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_response'
          description: Card issued
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Update Card
      tags:
      - Cards
      x-external: true
    summary: Cards
  /cards/{card_id}/barcodes:
    get:
      description: |
        This endpoint is for testing environment only to provide access to barcode of a test card
      operationId: getCardBarcode
      parameters:
      - explode: false
        in: path
        name: card_id
        required: true
        schema:
          $ref: '#/components/schemas/card_id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: Barcode
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Get Card Barcode
      tags:
      - Cards
      x-external: true
    summary: Cards
  /cards/{card_id}/changes:
    get:
      description: |
        List card change history
      operationId: listChanges
      parameters:
      - explode: false
        in: path
        name: card_id
        required: true
        schema:
          $ref: '#/components/schemas/card_id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_changes_list'
          description: List of card changes
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: List Card Changes
      tags:
      - Cards
      x-external: true
  /cards/activate:
    description: |
      Activate a card
    post:
      description: |
        Activate a card
      operationId: activateCard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/card_activation_request'
        description: Card activation code
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_response'
          description: Card activated successfully
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Activate a card
      tags:
      - Cards
      x-external: true
    summary: Card Activation
  /cards/{card_id}/pin:
    description: |
      Card PIN Management
    put:
      description: |
        Set a PIN on a card (must be PCI compliant)
      operationId: setPIN
      parameters:
      - explode: false
        in: path
        name: card_id
        required: true
        schema:
          $ref: '#/components/schemas/card_id'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/card_pin'
        description: New PIN
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_response'
          description: Card activated successfully
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Set a new PIN for a card
      tags:
      - Cards
      x-external: false
    summary: Card PIN
  /cards/{card_id}/client_token:
    description: |
      Client access token for accessing privileged details about a card
    post:
      description: |
        Create a client access token for interacting with a card.  This token will be used on the client to identify the card for flows like viewing Full PAN or setting the PIN in a PCI compliant manner.
      operationId: getClientAccessToken
      parameters:
      - explode: false
        in: path
        name: card_id
        required: true
        schema:
          $ref: '#/components/schemas/card_id'
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client_token'
          description: Client token
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Get a client token
      tags:
      - Cards
      x-external: true
    summary: Get Client Access Token
  /cards/products:
    get:
      operationId: listCardProducts
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          minimum: 1
          type: integer
        style: form
        x-external: true
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: Optional pagination token to be provided to retrieve subsequent
            pages, returned from previous get
          example: faker.random.alphaNumeric(10)
          type: string
        style: form
        x-external: true
      - explode: true
        in: query
        name: tenant
        required: false
        schema:
          description: Only return resources owned by the specified tenant
          example: 2_3
          pattern: ^(\d{1,}|\*)_(\d{1,}|\*)$
          type: string
        style: form
        x-external: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_product_list_response'
          description: List of available card products
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: List Cards Products
      tags:
      - Cards
      x-external: false
    post:
      description: |
        Create card product for a card program
      operationId: createCardProduct
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/card_product'
        description: Details of the card product to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_product_response'
          description: Card product created
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Create Card Product
      tags:
      - Cards
      x-external: false
    summary: Cards Products
  /cards/products/{card_product_id}:
    get:
      operationId: GetCardProduct
      parameters:
      - explode: false
        in: path
        name: card_product_id
        required: true
        schema:
          $ref: '#/components/schemas/card_product_id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_product_response'
          description: Card product details
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Get details about a card product
      tags:
      - Cards
      x-external: false
    summary: Cards Product
  /cards/webhooks:
    description: |
      Webhooks related to cards
    get:
      description: |
        List webhooks for a card
      operationId: listWebhooks
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhook_response'
          description: Webhook details
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: List Webhooks
      tags:
      - Card Webhooks
      x-external: false
    post:
      description: |
        Create a webhook for a card
      operationId: createWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_webhook_request'
        description: Webhook to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhook_response'
          description: Webhook Created
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Create a Webhook
      tags:
      - Card Webhooks
      x-external: false
    summary: Cards Webhooks
  /cards/webhooks/{webhook_id}:
    description: |
      Webhooks related to cards
    get:
      description: |
        Get a webhook for a card
      operationId: getWebhook
      parameters:
      - description: The unique identifier of a webhook
        explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhook_response'
          description: Webhook details
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Get A Webhook
      tags:
      - Card Webhooks
      x-external: false
    post:
      description: |
        Ping a webhook for a card
      operationId: pingWebhook
      parameters:
      - description: The unique identifier of a webhook
        explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ping_response'
          description: Webhook Responded
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Ping Webhook
      tags:
      - Card Webhooks
      x-external: false
    put:
      description: |
        Integrators can update their webhook details
      operationId: editWebhook
      parameters:
      - description: The unique identifier of a webhook
        explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/webhook_request'
        description: Webhook edits
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhook_response'
          description: Webhook updated
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Webhook updates
      tags:
      - Card Webhooks
      x-external: false
    summary: Cards Webhooks
  /cards/webhooks/{webhook_id}/custom_headers:
    description: |
      Webhook custom headers related to cards
    put:
      description: |
        Integrators can update their webhook custom header details
      operationId: editWebhookCustomHeaders
      parameters:
      - description: The unique identifier of a webhook
        explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/custom_headers'
        description: Webhook Custom Header Edits
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhook_response'
          description: Webhook updated
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Webhook custom headers updates
      tags:
      - Card Webhooks
      x-external: false
    summary: Cards Webhook Custom Headers
  /cards/webhooks/{webhook_id}/resend_event:
    description: |
      Webhook resend event notification related to cards
    post:
      description: |
        Rsend a webhook event notification for a card
      operationId: resendEventNotification
      parameters:
      - description: The unique identifier of a webhook
        explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/event_resend'
        description: Resend event notification for webhook
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resend_response'
          description: Webhook Created
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Resend a Webhook Event Notification
      tags:
      - Card Webhooks
      x-external: false
    summary: Cards Webhook Event Notification
  /cards/single_use_token:
    post:
      description: |
        This endpoint returns a single-use access token. This type of token authorizes a single request to access API endpoints and data associated with a particular user
      operationId: getClientSingleUseToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/single_use_token_request'
        description: User token details
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_use_token_response'
          description: Token Created
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Get single-use token
      tags:
      - Cards
      x-external: true
    summary: Get Single-Use Token
  /cards/card_widget_url:
    description: |
      Card Widget URL
    get:
      description: |
        Get card widget URL
      operationId: getCardWidgetURL
      parameters:
      - description: The type of widget for which to construct the URL
        explode: true
        in: query
        name: widget_type
        required: true
        schema:
          $ref: '#/components/schemas/widget_type'
        style: form
        x-external: true
      - explode: true
        in: query
        name: customer_id
        required: true
        schema:
          $ref: '#/components/schemas/customer_id1'
        style: form
        x-external: true
      - explode: true
        in: query
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/account_id'
        style: form
        x-external: true
      - description: The ID of the card (required for set PIN widget)
        explode: true
        in: query
        name: card_id
        required: false
        schema:
          $ref: '#/components/schemas/card_id'
        style: form
        x-external: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_widget_url_response'
          description: Card issued
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error
      summary: Get Card Widget URL
      tags:
      - Cards
      x-external: true
    summary: Cards
  /cards/bins:
    get:
      description: |
        List of available bank identification numbers (BINs)
      operationId: listBins
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          minimum: 1
          type: integer
        style: form
        x-external: true
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: Optional pagination token to be provided to retrieve subsequent
            pages, returned from previous get
          example: faker.random.alphaNumeric(10)
          type: string
        style: form
        x-external: true
      - explode: true
        in: query
        name: tenant
        required: false
        schema:
          description: Only return resources owned by the specified tenant
          example: 2_3
          pattern: ^(\d{1,}|\*)_(\d{1,}|\*)$
          type: string
        style: form
        x-external: false
      - explode: true
        in: query
        name: card_id
        required: false
        schema:
          $ref: '#/components/schemas/card_id'
        style: form
        x-external: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bin_response_list'
          description: Details of the BINs
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: List BINs
      tags:
      - Cards
      x-external: false
    post:
      description: |
        Create bank identification number (BIN) for a bank
      operationId: createBin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bin'
        description: Details of the BIN to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bin_response'
          description: BIN created
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Create BIN
      tags:
      - Cards
      x-external: false
  /cards/bins/debit_networks:
    get:
      description: "List of available bank identification numbers (BINs) and associated\
        \ Debit Networks \n"
      operationId: listBinsAndDebitNetworks
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          minimum: 1
          type: integer
        style: form
        x-external: true
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: Optional pagination token to be provided to retrieve subsequent
            pages, returned from previous get
          example: faker.random.alphaNumeric(10)
          type: string
        style: form
        x-external: true
      - explode: true
        in: query
        name: tenant
        required: false
        schema:
          description: Only return resources owned by the specified tenant
          example: 2_3
          pattern: ^(\d{1,}|\*)_(\d{1,}|\*)$
          type: string
        style: form
        x-external: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bin_and_debit_network_list'
          description: Details of the BINs and associated Debit Networks
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: List BINs and Debit Networks
      tags:
      - Cards
      x-external: false
  /cards/bins/{bin_id}:
    get:
      description: |
        Get bank identification number (BIN) details
      operationId: getBin
      parameters:
      - explode: false
        in: path
        name: bin_id
        required: true
        schema:
          $ref: '#/components/schemas/bin_id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bin_response'
          description: Bank Identification Number (BIN) details
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Get BIN
      tags:
      - Cards
      x-external: false
    patch:
      description: |
        Update bin data
      operationId: updateBin
      parameters:
      - explode: false
        in: path
        name: bin_id
        required: true
        schema:
          $ref: '#/components/schemas/bin_id'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bin_update_request'
        description: Fields to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bin_response'
          description: Updated BIN details
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Update BIN
      tags:
      - Cards
      x-external: true
  /cards/programs:
    get:
      description: |
        List of available card programs
      operationId: listCardPrograms
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          minimum: 1
          type: integer
        style: form
        x-external: true
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: Optional pagination token to be provided to retrieve subsequent
            pages, returned from previous get
          example: faker.random.alphaNumeric(10)
          type: string
        style: form
        x-external: true
      - explode: true
        in: query
        name: tenant
        required: false
        schema:
          description: Only return resources owned by the specified tenant
          example: 2_3
          pattern: ^(\d{1,}|\*)_(\d{1,}|\*)$
          type: string
        style: form
        x-external: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_program_response_list'
          description: Details of the card programs
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: List Card Programs
      tags:
      - Cards
      x-external: false
    post:
      description: |
        Create program for a partner
      operationId: createCardProgram
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/card_program'
        description: Details of the program to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_program_response'
          description: Card program created
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Create Card Program
      tags:
      - Cards
      x-external: false
  /cards/programs/{card_program_id}:
    get:
      description: |
        Get program for a partner
      operationId: getCardProgram
      parameters:
      - explode: false
        in: path
        name: card_program_id
        required: true
        schema:
          $ref: '#/components/schemas/card_program_id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_program_response'
          description: Card program details
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Get a Card Program
      tags:
      - Cards
      x-external: false
    patch:
      description: |
        Update card program data
      operationId: updateCardProgram
      parameters:
      - explode: false
        in: path
        name: card_program_id
        required: true
        schema:
          $ref: '#/components/schemas/card_program_id'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/card_program_update_request'
        description: Fields to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_program_response'
          description: Updated card program details
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Update Card Program
      tags:
      - Cards
      x-external: false
  /cards/debit_networks:
    get:
      description: |
        List of available debit networks
      operationId: listDebitNetworks
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/debit_network_response_list'
          description: Details of the debit networks
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: List debit networks
      tags:
      - Cards
      x-external: false
    post:
      description: |
        Create debit network for a bin
      operationId: createDebitNetwork
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/debit_network_create_request'
        description: Details of the debit network to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/debit_network_response'
          description: Debit network created
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Create Debit Network
      tags:
      - Cards
      x-external: false
  /cards/debit_networks/{debit_network_id}:
    get:
      description: |
        Get debit network by ID
      operationId: GetDebitNetwork
      parameters:
      - explode: false
        in: path
        name: debit_network_id
        required: true
        schema:
          $ref: '#/components/schemas/debit_network_id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bank_debit_network_response'
          description: Debit/Atm network details
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Get details about a debit/atm network
      tags:
      - Cards
      x-external: false
  /cards/digitalwallets/applepay:
    post:
      operationId: createDigitalWalletApple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apple_digital_wallet_provision_response'
          description: Digital wallet token provision request data
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Create digital wallet token provision request for Apple Pay
      tags:
      - Cards
      x-external: false
  /cards/digitalwallets/googlepay:
    post:
      operationId: createDigitalWalletGoogle
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google_digital_wallet_provision_response'
          description: Digital wallet token provision request data
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Create digital wallet token provision request for Google Pay
      tags:
      - Cards
      x-external: false
  /cards/bin_network_mappings:
    post:
      description: |
        Create bin network mapping
      operationId: createBinNetworkMapping
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bin_network_mapping'
        description: Details of the bin network mapping to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bin_network_mapping_response'
          description: Bin network mapping created
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Create bin network mapping
      tags:
      - Cards
      x-external: false
  /cards/account_ranges/{account_range_id}:
    get:
      description: |
        Get account range
      operationId: getAccountRange
      parameters:
      - explode: false
        in: path
        name: account_range_id
        required: true
        schema:
          $ref: '#/components/schemas/account_range_id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_range_response'
          description: Account Range details
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Get a Account Range
      tags:
      - Cards
      x-external: false
    patch:
      description: |
        Update account range data
      operationId: updateAccountRange
      parameters:
      - explode: false
        in: path
        name: account_range_id
        required: true
        schema:
          $ref: '#/components/schemas/account_range_id'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/account_range_update_request'
        description: Fields to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_range_response'
          description: Updated account range details
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
[...]
