openapi: 3.0.3
info:
  description: |
    <h2>Let's build something great.</h2><p>Welcome to the official reference documentation for Synctera APIs. Our APIs are the best way to automate your company's banking needs and are designed to be easy to understand and implement.</p><p>We're continuously growing this library and what you see here is just the start, but if you need something specific or have a question, <a class='text-blue-600' href='https://synctera.com/contact' target='_blank' rel='noreferrer'>contact us</a>.</p>
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: Synctera API
  version: 0.5.0
servers:
- description: Production
  url: https://api.synctera.com/v0
- description: Sandbox (no real world financial impact)
  url: https://api-sandbox.synctera.com/v0
security:
- bearerAuth: []
tags:
- description: Requests to create and manage account products, including fees, interest.
  name: Account Products
- description: Request to create and manage accounts
  name: Accounts
- description: Account Template
  name: Account Templates
- description: Create and manage payments
  name: Payments
- description: |
    A legal entity (corporation, partnership, etc.) that is relevant to the  Synctera platform in some way: a business customer or some other  organization that has an ownership share in such a business customer.
  name: Businesses
- description: Requests to issue and manage cards
  name: Cards
- description: Requests to create and manage customers
  name: Customers
- description: |
    The disclosures resource is used to track the status of disclosures and
    ensure that all parties have been shown the necessary disclosures to meet
    regulatory obligations.
  name: Disclosures
- description: |
    The External Account resource is used for managing links to accounts
    that operate outside of the Synctera ecosystem.
  name: External Accounts
- description: |
    The internal account resource is used for managing links to internal
    accounts where the funds are managed by integrators.
  name: Internal Accounts
- description: Requests to initiate customer verification.
  name: KYC Verification
- description: |
    A natural person (individual human) that is relevant to the Synctera  platform in some way: e.g. a personal customer or a director/officer/owner  of a business.
  name: Persons
- description: Request to create and manage deposits using remote deposit capture
  name: RDC Deposits
- description: Requests to create and manage reconciliation
  name: Reconciliations
- description: |
    Represents the relationships between parties. A relationship can exist between personal customers, business customers, or non-customer persons/organizations.
  name: Relationships
- description: Create and manage transactions
  name: Transactions
- description: Requests to initiate customer verification.
  name: KYC/KYB Verifications
- description: Request to enroll, renew, or cancel watchlist monitors
  name: Watchlist
- description: Requests to create and manage webhooks
  name: Webhooks
paths:
  /accounts:
    get:
      description: Get paginated list of Accounts associated
      operationId: listAccounts
      parameters:
      - description: |
          Account ID(s). Multiple IDs can be provided as a comma-separated list.
        explode: false
        in: query
        name: id
        required: false
        schema:
          $ref: '#/components/schemas/account_id_query_schema'
        style: form
        x-external: true
      - description: |
          Overdraft account ID(s). Multiple IDs can be provided as a comma-separated list.
        explode: false
        in: query
        name: overdraft_account_id
        required: false
        schema:
          $ref: '#/components/schemas/account_id_query_schema'
        style: form
        x-external: true
      - description: |
          Overflow account ID(s). Multiple IDs can be provided as a comma-separated list.
        explode: false
        in: query
        name: overflow_account_id
        required: false
        schema:
          $ref: '#/components/schemas/account_id_query_schema'
        style: form
        x-external: true
      - description: |
          Account number(s). Multiple account numbers can be provided as a comma-separated list.
          When only a single account number is provided, any * characters in the string are wildcards, and match any characters.
        explode: false
        in: query
        name: account_number
        required: false
        schema:
          example: "2345678108180014864"
          items:
            type: string
          type: array
        style: form
        x-external: true
      - explode: true
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/status'
        style: form
        x-external: true
      - description: Interest product ID that accounts associate with. Multiple IDs
          can be provided as a comma-separated list.
        explode: true
        in: query
        name: interest_product_id
        required: false
        schema:
          type: string
        style: form
        x-external: true
      - description: |
          Customer type of the account, BUSINESS or PERSONAL
        explode: true
        in: query
        name: customer_type
        required: false
        schema:
          $ref: '#/components/schemas/customer_type'
        style: form
        x-external: true
      - deprecated: true
        description: The customer's unique identifier
        explode: true
        in: query
        name: customer_id
        required: false
        schema:
          $ref: '#/components/schemas/customer_id'
        style: form
        x-external: true
        x-status: deprecated
      - description: |
          Unique identifier for the business. Multiple IDs can be provided as a comma-separated list.
        explode: false
        in: query
        name: business_id
        required: false
        schema:
          example: 64438afd-fa20-4010-a573-2bbdca77cdb6,84ef251c-ab8f-47a5-bbfd-a16648f95157
          items:
            format: uuid
            type: string
          type: array
        style: form
        x-external: true
      - description: |
          Unique identifier for the person. Multiple IDs can be provided as a comma-separated list.
        explode: false
        in: query
        name: person_id
        required: false
        schema:
          example: 64438afd-fa20-4010-a573-2bbdca77cdb6,84ef251c-ab8f-47a5-bbfd-a16648f95157
          items:
            format: uuid
            type: string
          type: array
        style: form
        x-external: true
      - explode: true
        in: query
        name: first_name
        required: false
        schema:
          description: Only return resources where the first_name field matches the
            specified string. Any * characters in the string are wildcards, and match
            any characters.
          example: Alice
          type: string
        style: form
        x-external: true
      - explode: true
        in: query
        name: last_name
        required: false
        schema:
          description: Only return resources where the last_name field matches the
            specified string. Any * characters in the string are wildcards, and match
            any characters.
          example: Smith
          type: string
        style: form
        x-external: true
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          minimum: 1
          type: integer
        style: form
        x-external: true
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: Optional pagination token to be provided to retrieve subsequent
            pages, returned from previous get
          example: 2ss64pmfs8
          type: string
        style: form
        x-external: true
      - description: |
          Specifies the sort order for the returned accounts.
        explode: false
        in: query
        name: sort_by
        required: false
        schema:
          items:
            enum:
            - account_number:asc
            - account_number:desc
            - account_type:asc
            - account_type:desc
            - first_name:asc
            - first_name:desc
            - last_name:asc
            - last_name:desc
            type: string
          type: array
        style: form
        x-external: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_list'
          description: List of accounts
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: List accounts
      tags:
      - Accounts
      x-external: true
    post:
      description: |
        Create a shadow mode or lead mode account. You need to determine the mode according to integrator configuration, and specify the required fields accordingly.

        Shadow mode required fields:
          - account_number
          - status

        Lead mode required fields:
          - account_template_id
          - relationships
      operationId: createAccount
      parameters:
      - description: An idempotency key is an arbitrary unique value generated by
          client to detect subsequent retries of the same request. It is recommended
          that a UUID or a similar random identifier be used as an idempotency key
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          example: e6504ae6-eb80-4a05-b429-956675dd4604
          type: string
        style: simple
        x-external: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/account_creation'
        description: Account to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account'
          description: Created account
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
      summary: Create an account
      tags:
      - Accounts
      x-external: true
    summary: Accounts
  /accounts/{account_id}:
    delete:
      description: Delete account
      operationId: deleteAccount
      parameters:
      - description: Unique identifier for the account.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: df85a5b4-4647-4e00-9518-60d155594448
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete_response'
          description: Resource has been deleted
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "461":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Account has been closed
      summary: Delete account
      tags:
      - Accounts
      x-external: true
      x-status: alpha
    get:
      description: Get an account
      operationId: getAccount
      parameters:
      - description: Unique identifier for the account.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: df85a5b4-4647-4e00-9518-60d155594448
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account'
          description: Account
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "461":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Account has been closed
      summary: Get account
      tags:
      - Accounts
      x-external: true
    patch:
      description: |
        Patch account.

        Immutable fields:
          - account_number
          - account_type
          - account_template_id
          - customer_type

        Please note:
          - Other fields cannot be modified when access_status is FROZEN.
          - access_status has to be patched individually without other fields.
      operationId: patchAccount
      parameters:
      - description: An idempotency key is an arbitrary unique value generated by
          client to detect subsequent retries of the same request. It is recommended
          that a UUID or a similar random identifier be used as an idempotency key
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          example: e6504ae6-eb80-4a05-b429-956675dd4604
          type: string
        style: simple
        x-external: true
      - description: Unique identifier for the account.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: df85a5b4-4647-4e00-9518-60d155594448
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/account'
        description: Account fields to be patched
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account'
          description: Updated account
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "461":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Account has been closed
      summary: Patch account
      tags:
      - Accounts
      x-external: true
    put:
      description: |
        Update account

        Shadow mode required fields:
          - account_number
          - status

        Lead mode required fields:
          - All fields are required.

        Please note:
          - access_status needs to be in ACTIVE.
          - PUT request cannot change access_status.
      operationId: updateAccount
      parameters:
      - description: Unique identifier for the account.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: df85a5b4-4647-4e00-9518-60d155594448
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/account'
        description: Account to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account'
          description: Updated account
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "461":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Account has been closed
      summary: Update account
      tags:
      - Accounts
      x-external: true
    summary: account
  /accounts/{account_id}/relationships:
    get:
      description: List all customers of an account
      operationId: listAccountRelationship
      parameters:
      - description: Unique identifier for the account.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: df85a5b4-4647-4e00-9518-60d155594448
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          minimum: 1
          type: integer
        style: form
        x-external: true
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: Optional pagination token to be provided to retrieve subsequent
            pages, returned from previous get
          example: 2ss64pmfs8
          type: string
        style: form
        x-external: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/relationship_list'
          description: List of account relationships
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "461":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Account has been closed
      summary: List account relationships
      tags:
      - Accounts
      x-external: true
    post:
      description: Add a customer to an account
      operationId: createAccountRelationship
      parameters:
      - description: An idempotency key is an arbitrary unique value generated by
          client to detect subsequent retries of the same request. It is recommended
          that a UUID or a similar random identifier be used as an idempotency key
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          example: e6504ae6-eb80-4a05-b429-956675dd4604
          type: string
        style: simple
        x-external: true
      - description: Unique identifier for the account.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: df85a5b4-4647-4e00-9518-60d155594448
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/relationship'
        description: Account relationship object
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/relationship'
          description: Account relationship object
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "461":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Account has been closed
      summary: Create account relationship
      tags:
      - Accounts
      x-external: true
    summary: Account Relationship
  /accounts/{account_id}/relationships/{relationship_id}:
    delete:
      description: Delete account relationship
      operationId: DeleteAccountRelationship
      parameters:
      - description: Unique identifier for the account.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: df85a5b4-4647-4e00-9518-60d155594448
          format: uuid
          type: string
        style: simple
      - description: Relationship ID of the account associate with the account entity
        explode: false
        in: path
        name: relationship_id
        required: true
        schema:
          example: fb3e50d7-db85-4840-80bb-318f09947658
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete_response'
          description: Resource has been deleted
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "461":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Account has been closed
      summary: Delete account relationship
      tags:
      - Accounts
      x-external: true
    get:
      description: Get account relationship by ID
      operationId: getAccountRelationship
      parameters:
      - description: Unique identifier for the account.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: df85a5b4-4647-4e00-9518-60d155594448
          format: uuid
          type: string
        style: simple
      - description: Relationship ID of the account associate with the account entity
        explode: false
        in: path
        name: relationship_id
        required: true
        schema:
          example: fb3e50d7-db85-4840-80bb-318f09947658
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/relationship'
          description: Account relationship
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "461":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Account has been closed
      summary: Get account relationship
      tags:
      - Accounts
      x-external: true
    put:
      description: Update account relationship. Only relationship_type can be updated.
        customer_id should not be modified.
      operationId: updateAccountRelationship
      parameters:
      - description: Unique identifier for the account.
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: df85a5b4-4647-4e00-9518-60d155594448
          format: uuid
          type: string
        style: simple
      - description: Relationship ID of the account associate with the account entity
        explode: false
        in: path
        name: relationship_id
        required: true
        schema:
          example: fb3e50d7-db85-4840-80bb-318f09947658
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/relationship'
        description: Account relationship to be updated
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/relationship'
          description: Updated account relationship
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "461":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Account has been closed
      summary: Update account relationship
      tags:
      - Accounts
      x-external: true
    summary: Account Relationship
  /accounts/products:
    get:
      description: |
        List account Products
      operationId: listAccountResourceProducts
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          minimum: 1
          type: integer
        style: form
        x-external: true
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: Optional pagination token to be provided to retrieve subsequent
            pages, returned from previous get
          example: 2ss64pmfs8
          type: string
        style: form
        x-external: true
      - description: Date range filtering for type INTEREST. All rates in interest
          resource have to have valid_from later or equal to start_date.
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          format: date
          type: string
        style: form
        x-external: true
      - description: Date range filtering for type INTEREST. All rates in interest
          resource have to have valid_to earlier or equal to end_date.
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          format: date
          type: string
        style: form
        x-external: true
      - description: Type of account product
        explode: true
        in: query
        name: product_type
        required: true
        schema:
          enum:
          - FEE
          - INTEREST
          type: string
        style: form
        x-external: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_product_list'
          description: List of account products
      summary: List account products
      tags:
      - Accounts
      x-external: true
    post:
      description: |
        Create an account product. Rates cannot be nil or empty.
      operationId: createAccountResourceProduct
      parameters:
      - description: An idempotency key is an arbitrary unique value generated by
          client to detect subsequent retries of the same request. It is recommended
          that a UUID or a similar random identifier be used as an idempotency key
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          example: e6504ae6-eb80-4a05-b429-956675dd4604
          type: string
        style: simple
        x-external: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/account_product'
        description: Account product to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_product'
          description: Account product created
      summary: Create an account product
      tags:
      - Accounts
      x-external: true
    summary: Account products
  /accounts/products/{product_id}:
    patch:
      description: |
        Patch account product. Rates requires at minimum 1 entry if specified.
      operationId: patchAccountProduct
      parameters:
      - description: An idempotency key is an arbitrary unique value generated by
          client to detect subsequent retries of the same request. It is recommended
          that a UUID or a similar random identifier be used as an idempotency key
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          example: e6504ae6-eb80-4a05-b429-956675dd4604
          type: string
        style: simple
        x-external: true
      - description: Account Product ID
        explode: false
        in: path
        name: product_id
        required: true
        schema:
          example: 66cdd5cb-742d-4ab6-b849-7a36b3fdd2ec
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patch_account_product'
        description: Account product fields to be patched
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_product'
          description: Updated account product
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
      summary: Patch account product
      tags:
      - Accounts
      x-external: true
    summary: Account products
  /accounts/rdc/deposits:
    description: |
      The RDC deposits collection represents all the deposits made using remote deposit capture associated with an account
    get:
      description: Retrieves a paginated list of the deposits made using remote deposit
        capture associated with an account
      operationId: listRdcDeposits
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          minimum: 1
          type: integer
        style: form
        x-external: true
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: Optional pagination token to be provided to retrieve subsequent
            pages, returned from previous get
          example: 2ss64pmfs8
          type: string
        style: form
        x-external: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deposit_list'
          description: List of deposits made with remote deposit capture
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
      summary: List RDC Deposits
      tags:
      - RDC Deposits
      x-external: true
    post:
      description: |
        Create a new deposit using remote deposit capture to an account
      operationId: createRdcDeposit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deposit'
        description: Attributes of the RDC deposit to create
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deposit'
          description: Successful creation of a deposit using remote deposit capture
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
      summary: Create an RDC Deposit
      tags:
      - RDC Deposits
      x-external: true
      x-status: alpha
    summary: RDC Deposits
  /accounts/rdc/deposits/{deposit_id}:
    description: |
      The RDC deposit represents one deposit made using remote deposit capture associated with an account
    get:
      description: Retrieves one deposit made using remote deposit capture associated
        with an account
      operationId: getRdcDeposit
      parameters:
      - description: ID of a deposit for a remote deposit capture
        explode: false
        in: path
        name: deposit_id
        required: true
        schema:
          example: d2904516-21dc-4603-8ce4-b492b9d37cad
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deposit'
          description: Successful retrieval of an RDC deposit
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
      summary: Get RDC Deposit
      tags:
      - RDC Deposits
      x-external: true
      x-status: alpha
    summary: RDC Deposit by Id
  /accounts/templates:
    get:
      description: |
        List account templates
      operationId: listAccountTemplates
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          minimum: 1
          type: integer
        style: form
        x-external: true
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: Optional pagination token to be provided to retrieve subsequent
            pages, returned from previous get
          example: 2ss64pmfs8
          type: string
        style: form
        x-external: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/template_list'
          description: List of account templates
      summary: List account templates
      tags:
      - Accounts
      x-external: true
    post:
      description: |
        Create an account template. An account template is need when create an account in a lead mode
      operationId: createAccountTemplate
      parameters:
      - description: An idempotency key is an arbitrary unique value generated by
          client to detect subsequent retries of the same request. It is recommended
          that a UUID or a similar random identifier be used as an idempotency key
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          example: e6504ae6-eb80-4a05-b429-956675dd4604
          type: string
        style: simple
        x-external: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/account_template'
        description: Account template to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_template_response'
          description: Account template created
      summary: Create an account template
      tags:
      - Accounts
      x-external: true
    summary: Accounts
  /accounts/templates/{template_id}:
    delete:
      description: Delete account template
      operationId: DeleteAccountTemplate
      parameters:
      - description: Account Template ID
        explode: false
        in: path
        name: template_id
        required: true
        schema:
          example: bd4f14db-d218-491c-87cc-093e7d7c3702
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete_response'
          description: Resource has been deleted
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
      summary: Delete account template
      tags:
      - Accounts
      x-external: true
    get:
      description: Get an account template
      operationId: getAccountTemplate
      parameters:
      - description: Account Template ID
        explode: false
        in: path
        name: template_id
        required: true
        schema:
          example: bd4f14db-d218-491c-87cc-093e7d7c3702
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_template_response'
          description: Account Template
      summary: Get account template
      tags:
      - Accounts
      x-external: true
    put:
      description: |
        Update account template
      operationId: updateAccountTemplate
      parameters:
      - description: Account Template ID
        explode: false
        in: path
        name: template_id
        required: true
        schema:
          example: bd4f14db-d218-491c-87cc-093e7d7c3702
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/account_template'
        description: Account template to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_template_response'
          description: Account template updated
      summary: Update account template
      tags:
      - Accounts
      x-external: true
    summary: account
  /ach:
    description: |
      The ACH object represents your outgoing ACH.
    post:
      description: |
        Create an outgoing ACH
      operationId: addOutgoingACHTransaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/outgoing_ach'
        description: Outgoing ACH
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/outgoing_ach'
          description: Created an Outgoing ACH
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Create an outgoing ACH
      tags:
      - Payments
      x-external: true
    summary: Outgoing ACH
  /businesses:
    get:
      description: Retrieves paginated list of businesses associated with the authorized
        requester.
      operationId: listBusinesses
      parameters:
      - description: |
          Unique identifier for the business. Multiple IDs can be provided as a comma-separated list.
        explode: false
        in: query
        name: id
        required: false
        schema:
          example: 64438afd-fa20-4010-a573-2bbdca77cdb6,84ef251c-ab8f-47a5-bbfd-a16648f95157
          items:
            format: uuid
            type: string
          type: array
        style: form
        x-external: true
      - explode: true
        in: query
        name: entity_name
        required: false
        schema:
          description: Only return resources where the `entity_name` field matches
            the specified string. Any `*` characters in the string are wildcards,
            and match any characters.
          example: Apex Corporation
          type: string
        style: form
        x-external: true
      - explode: true
        in: query
        name: phone_number
        required: false
        schema:
          description: Only return resources where the phone_number field matches
            the specified string. Phone numbers use the E.164 format e.g. +19178675309.
            Any * characters in the string are wildcards, and match any characters.
          example: +12065550100
          type: string
        style: form
        x-external: true
      - description: If true, show only customers. If false, show non-customer parties.
        explode: true
        in: query
        name: is_customer
        required: false
        schema:
          type: boolean
        style: form
        x-external: true
      - description: |
          Specifies the sort order for the returned businesses.
        explode: false
        in: query
        name: sort_by
        required: false
        schema:
          items:
            enum:
            - entity_name:asc
            - entity_name:desc
            type: string
          type: array
        style: form
        x-external: true
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          minimum: 1
          type: integer
        style: form
        x-external: true
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: Optional pagination token to be provided to retrieve subsequent
            pages, returned from previous get
          example: 2ss64pmfs8
          type: string
        style: form
        x-external: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/business_list'
          description: List of businesses.
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: List business
      tags:
      - Businesses
      x-external: true
      x-status: alpha
    post:
      description: |
        Create a business who may act as a customer or a related business. You can then verify the identity of this customer and associate them with other people and accounts.
      operationId: createBusiness
      parameters:
      - description: An idempotency key is an arbitrary unique value generated by
          client to detect subsequent retries of the same request. It is recommended
          that a UUID or a similar random identifier be used as an idempotency key
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          example: e6504ae6-eb80-4a05-b429-956675dd4604
          type: string
        style: simple
        x-external: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/business'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/business'
          description: The created business.
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "409":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource already exists error
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Create a business
      tags:
      - Businesses
      x-external: true
      x-status: alpha
    summary: Businesses
  /businesses/{business_id}:
    get:
      description: Get business by ID.
      operationId: getBusiness
      parameters:
      - description: Business's unique identifier.
        explode: false
        in: path
        name: business_id
        required: true
        schema:
          example: a94471cf-edd7-4b3e-a975-17b8fc02f82e
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/business'
          description: Business representation.
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Get business
      tags:
      - Businesses
      x-external: true
      x-status: alpha
    patch:
      description: Update business by ID.
      operationId: updateBusiness
      parameters:
      - description: An idempotency key is an arbitrary unique value generated by
          client to detect subsequent retries of the same request. It is recommended
          that a UUID or a similar random identifier be used as an idempotency key
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          example: e6504ae6-eb80-4a05-b429-956675dd4604
          type: string
        style: simple
        x-external: true
      - description: Business's unique identifier.
        explode: false
        in: path
        name: business_id
        required: true
        schema:
          example: a94471cf-edd7-4b3e-a975-17b8fc02f82e
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patch_business'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/business'
          description: Updated business representation.
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Patch business
      tags:
      - Businesses
      x-external: true
      x-status: alpha
  /cards:
    description: |
      The Card object represents your customer's spending card.
    get:
      description: |
        List of cards matching query parameters
      operationId: listCards
      parameters:
      - explode: true
        in: query
        name: tenant
        required: false
        schema:
          $ref: '#/components/schemas/tenant'
        style: form
        x-external: true
      - explode: true
        in: query
        name: customer_id
        required: false
        schema:
          $ref: '#/components/schemas/customer_id1'
        style: form
        x-external: true
      - explode: true
        in: query
        name: account_id
        required: false
        schema:
          $ref: '#/components/schemas/account_id'
        style: form
        x-external: true
      - description: emboss name
        explode: true
        in: query
        name: emboss_name
        required: false
        schema:
          type: string
        style: form
        x-external: true
      - description: The last 4 digits of the card PAN
        explode: true
        in: query
        name: last_four
        required: false
        schema:
          example: "1234"
          pattern: ^\d{4}$
          type: string
        style: form
        x-external: true
      - description: The date representing when the card would expire at
        explode: true
        in: query
        name: expiration_date
        required: false
        schema:
          example: 2006-01-02
          format: date
          type: string
        style: form
        x-external: true
      - description: Indicates the type of card
        explode: true
        in: query
        name: card_type
        required: false
        schema:
          enum:
          - DEBIT
          type: string
        style: form
        x-external: true
      - description: The brand of a card product
        explode: true
        in: query
        name: card_brand
        required: false
        schema:
          $ref: '#/components/schemas/card_brand'
        style: form
        x-external: true
      - description: The format of the card
        explode: true
        in: query
        name: form
        required: false
        schema:
          $ref: '#/components/schemas/form'
        style: form
        x-external: true
      - explode: true
        in: query
        name: card_product_id
        required: false
        schema:
          $ref: '#/components/schemas/card_product_id'
        style: form
        x-external: true
      - description: The status of a card
        explode: true
        in: query
        name: card_status
        required: false
        schema:
          $ref: '#/components/schemas/card_status'
        style: form
        x-external: true
      - description: The postal code of a card user
        explode: true
        in: query
        name: postal_code
        required: false
        schema:
          example: "49633"
          type: string
        style: form
        x-external: true
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          minimum: 1
          type: integer
        style: form
        x-external: true
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: Optional pagination token to be provided to retrieve subsequent
            pages, returned from previous get
          example: 2ss64pmfs8
          type: string
        style: form
        x-external: true
      - description: |
          Specifies the sort order for the returned cards.
        explode: false
        in: query
        name: sort_by
        required: false
        schema:
          items:
            enum:
            - account_id:asc
            - account_id:desc
            - customer_id:asc
            - customer_id:desc
            - card_product_id:asc
            - card_product_id:desc
            - last_four:asc
            - last_four:desc
            - card_type:asc
            - card_type:desc
            - card_brand:asc
            - card_brand:desc
            - expiration_date:asc
            - expiration_date:desc
            - form:asc
            - form:desc
            - card_status:asc
            - card_status:desc
            type: string
          type: array
        style: form
        x-external: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_list_response'
          description: Cards
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: List Cards
      tags:
      - Cards
      x-external: true
    post:
      description: |
        Issue or reissue a new card for a customer
      operationId: issueCard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/card_issuance_request'
        description: Card to issue
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_response'
          description: Card issued
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Issue a Card
      tags:
      - Cards
      x-external: true
    summary: Cards
  /cards/{card_id}:
    description: |
      The Card object represents your customer's spending card.
    get:
      description: |
        Get the details about a card that has been issued
      operationId: getCard
      parameters:
      - explode: false
        in: path
        name: card_id
        required: true
        schema:
          $ref: '#/components/schemas/card_id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_response'
          description: Card details
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Get Card
      tags:
      - Cards
      x-external: true
    patch:
      description: |
        Integrators can update the card resource to change status, update shipping (if the card hasn't been shipped) or edit metadata.
      operationId: updateCard
      parameters:
      - explode: false
        in: path
        name: card_id
        required: true
        schema:
          $ref: '#/components/schemas/card_id'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/card_edit_request'
        description: Card edits
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_response'
          description: Card issued
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Update Card
      tags:
      - Cards
      x-external: true
    summary: Cards
  /cards/{card_id}/barcodes:
    get:
      description: |
        This endpoint is for testing environment only to provide access to barcode of a test card
      operationId: getCardBarcode
      parameters:
      - explode: false
        in: path
        name: card_id
        required: true
        schema:
          $ref: '#/components/schemas/card_id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: Barcode
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Get Card Barcode
      tags:
      - Cards
      x-external: true
    summary: Cards
  /cards/{card_id}/changes:
    get:
      description: |
        List card change history
      operationId: listChanges
      parameters:
      - explode: false
        in: path
        name: card_id
        required: true
        schema:
          $ref: '#/components/schemas/card_id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_changes_list'
          description: List of card changes
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: List Card Changes
      tags:
      - Cards
      x-external: true
  /cards/{card_id}/client_token:
    description: |
      Client access token for accessing privileged details about a card
    post:
      description: |
        Create a client access token for interacting with a card.  This token will be used on the client to identify the card for flows like viewing Full PAN or setting the PIN in a PCI compliant manner.
      operationId: getClientAccessToken
      parameters:
      - explode: false
        in: path
        name: card_id
        required: true
        schema:
          $ref: '#/components/schemas/card_id'
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client_token'
          description: Client token
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Get a client token
      tags:
      - Cards
      x-external: true
    summary: Get Client Access Token
  /cards/account_ranges/{account_range_id}:
    patch:
      description: |
        Update account range data
      operationId: updateAccountRange
      parameters:
      - explode: false
        in: path
        name: account_range_id
        required: true
        schema:
          $ref: '#/components/schemas/account_range_id'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/account_range_update_request'
        description: Fields to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_range_response'
          description: Updated account range details
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Update Account Range
      tags:
      - Cards
      x-external: true
  /cards/activate:
    description: |
      Activate a card
    post:
      description: |
        Activate a card
      operationId: activateCard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/card_activation_request'
        description: Card activation code
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_response'
          description: Card activated successfully
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Activate a card
      tags:
      - Cards
      x-external: true
    summary: Card Activation
  /cards/bins/{bin_id}:
    patch:
      description: |
        Update bin data
      operationId: updateBin
      parameters:
      - explode: false
        in: path
        name: bin_id
        required: true
        schema:
          $ref: '#/components/schemas/bin_id'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bin_update_request'
        description: Fields to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bin_response'
          description: Updated BIN details
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Update BIN
      tags:
      - Cards
      x-external: true
  /cards/card_widget_url:
    get:
      description: |
        This endpoint returns a URL address of the specified widget for a given card
      operationId: getCardWidgetURL
      parameters:
      - description: The type of widget for which to construct the URL
        explode: true
        in: query
        name: widget_type
        required: true
        schema:
          $ref: '#/components/schemas/widget_type'
        style: form
        x-external: true
      - explode: true
        in: query
        name: customer_id
        required: true
        schema:
          $ref: '#/components/schemas/customer_id1'
        style: form
        x-external: true
      - explode: true
        in: query
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/account_id'
        style: form
        x-external: true
      - description: The ID of the card (required for set PIN widget)
        explode: true
        in: query
        name: card_id
        required: false
        schema:
          $ref: '#/components/schemas/card_id'
        style: form
        x-external: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_widget_url_response'
          description: Card issued
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error
      summary: Get card widget URL
      tags:
      - Cards
      x-external: true
    summary: Get Card Widget URL
  /cards/images:
    get:
      description: |
        List all card image details
      operationId: listCardImageDetails
      parameters:
      - explode: true
        in: query
        name: customer_id
        required: true
        schema:
          $ref: '#/components/schemas/customer_id1'
        style: form
        x-external: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_image_details_list'
          description: List of details for images uploaded by the given customer
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: List Card Image Details
      tags:
      - Cards
      x-external: true
    post:
      description: |
        Create a card image entity. Note that this does not include the image data itself. You can upload the image data via a subsequent uploadCardImageData request using the ID created here.
      operationId: createCardImage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_card_image_request'
        description: Details of the image to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_image_details'
          description: Card image entity created
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Create Card Image
      tags:
      - Cards
      x-external: true
  /cards/images/{card_image_id}:
    get:
      description: Get card image details
      operationId: getCardImageDetails
      parameters:
      - explode: false
        in: path
        name: card_image_id
        required: true
        schema:
          $ref: '#/components/schemas/card_image_id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_image_details'
          description: Details of the card image
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Get Card Image Details
      tags:
      - Cards
      x-external: true
    patch:
      description: Update card image details. The only detail that can be updated
        is the card status as APPROVED or REJECTED.
      operationId: updateCardImageDetails
      parameters:
      - explode: false
        in: path
        name: card_image_id
        required: true
        schema:
          $ref: '#/components/schemas/card_image_id'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_card_image_request'
        description: Details of the image to create
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_image_details'
          description: Details of the card image
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Update Card Image Details
      tags:
      - Cards
      x-external: true
  /cards/images/{card_image_id}/data:
    get:
      description: Get card image data
      operationId: getCardImageData
      parameters:
      - explode: false
        in: path
        name: card_image_id
        required: true
        schema:
          $ref: '#/components/schemas/card_image_id'
        style: simple
      responses:
        "200":
          content:
            image/jpeg:
              schema:
                format: binary
                type: string
          description: Image data
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Get Card Image Data
      tags:
      - Cards
      x-external: true
    post:
      description: Upload card image data
      operationId: uploadCardImageData
      parameters:
      - explode: false
        in: path
        name: card_image_id
        required: true
        schema:
          $ref: '#/components/schemas/card_image_id'
        style: simple
      requestBody:
        content:
          image/jpeg:
            schema:
              format: binary
              type: string
        description: Binary image data
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card_image_details'
          description: Card image data was successfully uploaded
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Upload Card Image
      tags:
      - Cards
      x-external: true
  /cards/single_use_token:
    post:
      description: |
        This endpoint returns a single-use access token. This type of token authorizes a single request to access API endpoints and data associated with a particular user
      operationId: getClientSingleUseToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/single_use_token_request'
        description: User token details
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_use_token_response'
          description: Token Created
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable entity request response
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Get single-use token
      tags:
      - Cards
      x-external: true
    summary: Get Single-Use Token
  /customers:
    description: |
      The Customer object represents your customer's identity.  You can then verify the identity of this customer and associate them with other people and accounts
    get:
      description: Retrieves paginated list of Customers associated with the authorized
        requester
      operationId: listCustomers
      parameters:
      - description: Unique resource identifier
        explode: false
        in: query
        name: id
        required: false
        schema:
          items:
            example: 68accbf6-5741-4c29-9b07-cb49bf30c4d1
            format: uuid
            type: string
          type: array
        style: form
        x-external: true
      - explode: true
        in: query
        name: first_name
        required: false
        schema:
          description: Only return resources where the first_name field matches the
            specified string. Any * characters in the string are wildcards, and match
            any characters.
          example: Alice
          type: string
        style: form
        x-external: true
      - explode: true
        in: query
        name: last_name
        required: false
        schema:
          description: Only return resources where the last_name field matches the
            specified string. Any * characters in the string are wildcards, and match
            any characters.
          example: Smith
          type: string
        style: form
        x-external: true
      - explode: true
        in: query
        name: phone_number
        required: false
        schema:
          description: Only return resources where the phone_number field matches
            the specified string. Phone numbers use the E.164 format e.g. +19178675309.
            Any * characters in the string are wildcards, and match any characters.
          example: +12065550100
          type: string
        style: form
        x-external: true
      - explode: true
        in: query
        name: email
        required: false
        schema:
          description: Only return resources where the email field matches the specified
            string. Any * characters in the string are wildcards, and match any characters.
          example: john.doe@example.com
          type: string
        style: form
        x-external: true
      - explode: true
        in: query
        name: ssn_last_4
        required: false
        schema:
          description: Only return resources where the last 4 characters of the SSN
            match the specified value.
          example: "6789"
          maxLength: 4
          minLength: 4
          type: string
        style: form
        x-external: true
      - explode: true
        in: query
        name: status
        required: false
        schema:
          description: Only return resources where with the specified status.
          enum:
          - PROSPECT
          - ACTIVE
          - FROZEN
          - ESCHEAT
          - DECEASED
          - SANCTION
          - DORMANT
          - DENIED
          example: ACTIVE
          type: string
        style: form
        x-external: true
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: |
            Maximum number of objects to return per page. If the limit is greater than 100, then it will be set to 100.
          example: 100
          minimum: 1
          type: integer
        style: form
        x-external: true
      - explode: true
        in: query
        name: page_token
        required: false
        schema:
          description: Optional pagination token to be provided to retrieve subsequent
            pages, returned from previous get
          example: 2ss64pmfs8
          type: string
        style: form
        x-external: true
      - description: |
          Specifies the sort order for the returned customers.
        explode: false
        in: query
        name: sort_by
        required: false
        schema:
          items:
            enum:
            - creation_time:asc
            - creation_time:desc
            - last_updated_time:asc
            - last_updated_time:desc
            - first_name:asc
            - first_name:desc
            - last_name:asc
            - last_name:desc
            type: string
          type: array
        style: form
        x-external: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer_list'
          description: List of customers
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: List Customers
      tags:
      - Customers
      x-external: true
    post:
      description: |
        The customer object represents your customer's identity. You can then verify the identity of this customer and associate them with other people and accounts.
        Note that if no shipping_address attribute is provided in the request, the shipping_address will be set to a copy of the legal_address.
      operationId: createCustomer
      parameters:
      - description: An idempotency key is an arbitrary unique value generated by
          client to detect subsequent retries of the same request. It is recommended
          that a UUID or a similar random identifier be used as an idempotency key
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          example: e6504ae6-eb80-4a05-b429-956675dd4604
          type: string
        style: simple
        x-external: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customer_in_path'
        description: Customer to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer_in_path'
          description: Created customer
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "409":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource already exists error
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Create a Customer
      tags:
      - Customers
      x-external: true
    summary: Customer
  /customers/{customer_id}:
    description: |
      This resource represents a customer.  Each customer is identified by a customer `ID`
    get:
      description: Get Customer based on ID
      operationId: getCustomer
      parameters:
      - description: The customer's unique identifier
        explode: false
        in: path
        name: customer_id
        required: true
        schema:
          $ref: '#/components/schemas/customer_id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer_in_path'
          description: Customer
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Get Customer
      tags:
      - Customers
      x-external: true
    patch:
      description: |
        Patch fields of customer based on ID
        Note that if:
          * legal address is provided in the request, AND
          * shipping_address is not provided in the request, AND
          * the customer resource does not have shipping_address
          then shipping_address will be set to a copy of the legal_address.
      operationId: patchCustomer
      parameters:
      - description: An idempotency key is an arbitrary unique value generated by
          client to detect subsequent retries of the same request. It is recommended
          that a UUID or a similar random identifier be used as an idempotency key
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          example: e6504ae6-eb80-4a05-b429-956675dd4604
          type: string
        style: simple
        x-external: true
      - description: The customer's unique identifier
        explode: false
        in: path
        name: customer_id
        required: true
        schema:
          $ref: '#/components/schemas/customer_id'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patch_customer'
        description: Customer to be patched
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer_in_path'
          description: Patched customer
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Resource not found
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal server error
      summary: Patch Customer
      tags:
      - Customers
      x-external: true
    put:
      description: |
        Update customer based on ID
        Note that if no shipping_address attribute is provided in the request, the shipping_address will be set to a copy of the legal_address.
      operationId: updateCustomer
      parameters:
      - description: The customer's unique identifier
        explode: false
        in: path
        name: customer_id
        required: true
        schema:
          $ref: '#/components/schemas/customer_id'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customer_in_path'
        description: Customer to be updated
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer_in_path'
          description: Updated customer
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: BadRequest
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden error
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/error'
[...]
